<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="NorthwindEntities" connectionString="metadata=res://*/DB.Northwind.csdl|res://*/DB.Northwind.ssdl|res://*/DB.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AASH-PC\SQLEXPRESS;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindEntities1" connectionString="metadata=res://*/DB.Northwind.csdl|res://*/DB.Northwind.ssdl|res://*/DB.Northwind.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AASH-PC\SQLEXPRESS;initial catalog=Northwind;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Base.Properties.Settings.NorthwindConnectionString"
      connectionString="Data Source=AASH-PC\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>